# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/terraform.tfplan

# TLS certificates and keys
*.key
*.pem
*.crt
*.csr

# OS
.DS_Store
